# 1. There should be dufferent types of products in the warehouse.
# 2. Each product should have a unique identifier (SKU).
# 3. The warehouse should support adding, updating, and removing products.
# 4. Replishment of products should be tracked.
# 5. Alert should be notified when stock levels fall below a certain threshold.
# 6. Same product can exist in different warehouses with different SKU.